body{
    font-family: Arial;
    background:#111;
    color:white;
    text-align:center;
}

.login-container{
    margin-top:100px;
}

input{
    display:block;
    margin:10px auto;
    padding:10px;
    width:200px;
}

button{
    padding:10px 20px;
    background:lime;
    border:none;
    cursor:pointer;
}

#dashboard{
    margin-top:100px;
}